default: &default
  adapter:  postgresql
  host:     localhost
  username: postgres
  min_messages: warning

development:
  <<: *default
  database: pg_ltree_development
  password: postgres

test:
  <<: *default
  database: pg_ltree_test
